@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
}
body{
  background-color: #dfe4ea;
  position: relative;
}